
{{!-- this is handlebars!!

hello {{name}},{{currentUser}},{{profileUser}},{{canEdit}}

 --}}

<style type="text/css">

.name-right, .panel-penalties {
    text-align: right;
}

.name-left {
    text-align: left;
}




.penalties{

/*      display: block;
      margin-left: auto;
      margin-right: auto;    
*/
        width: 100%;
        margin: 10px auto;
        position: relative;
        text-align:center;  
             
}


.a{
    background-color: lightsalmon;
}

.one-point{
    background-color: lightgreen;
}

.three-points{
    background-color: lightblue;
}

.one{
    display: inline-block;
    width: 43.5%;
    background: #e2e7dc;
    vertical-align: top;
    text-align: right;
}


.two{

    display: inline-block;
    text-align: center;
    font-family: Helvetica, Arial;
    font-size: 12px;
    font-size: 0.75rem;
    width: 10%;
    font-weight: bold;
    color: #606060;
    margin-top: 5px;    

}

.three{
    display: inline-block;
    width: 43.5%;
    background: #e2e7dc;
    vertical-align: top;
    text-align: left;
}

/*
    remove top border from table.
    http://stackoverflow.com/questions/19331774/how-do-i-remove-the-bottom-border-on-a-bootstrap-3-0-table-thead
*/
.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td{border:none;}

</style>



{{!-- <div class="container-fluid"> --}}
<div class="container">

{{!-- <div class="container"> --}}
{{!--     <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        {{#if currentUser.avatar}}
                            <img class="media-object" src="{{getImageRendition currentUser.avatar 90}}">
                        {{else}}
                            <img class="media-object" src="http://sethonsurvival.com/wp-content/uploads/2014/06/Suarez-fangs.jpg">
                        {{/if}}
                    </a>
                    <div class="media-body">
                        <h2>{{currentUser.username}}</h2>
                        {{#if currentUser.name}}
                            <p><strong>name: </strong>{{currentUser.name}}</p>
                        {{/if}}
                        <p><strong>Points: </strong>{{currentUser.points}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 --}}{{!-- </div> --}}


    <ul id="users">
        {{#each users}}
                <li class="photo">

                    {{#ifCond this.username ../currentUser.username}}
                    {{else}}
                        <a href="/games/{{this.username}}">
                    {{/ifCond}}
                        <div class="points">
                            {{#if this.avatar}}
                                <img src="{{getImageRendition this.avatar 90}}">
                            {{else}}
                                <img src="http://sethonsurvival.com/wp-content/uploads/2014/06/Suarez-fangs.jpg">
                            {{/if}}
                            <h2>{{this.username}}</h2>
                            <h4>{{this.points}} Points</h4>

                        </div>
                    {{#ifCond this.username ../currentUser.username}}
                    {{else}}
                        </a>
                    {{/ifCond}}
                        
                </li>
        {{/each}}
    </ul>


    
    <form id="games-form" action="/matches" method="POST" >


        <section class="form-actions score-section">

            <div class="row text-center">
                {{#if canEdit}}
                    <button type="button" id="save-data" class="btn btn-danger btn-lg">Save</button>
                    <button type="button" id="reset" class="btn btn-danger btn-lg">Reset</button>
                {{/if}}
            </div>

            <div class="row text-center info-messages">
                <ul class="nav-panel">
                    {{#each message}}
                        <li><div class="alert alert-danger" role="alert">{{this}}</div></li>
                    {{/each}}
                </ul> 
            </div>

        </section>

        <section class="group-stage score-section">
            <div id="allGroups">
                <h3 class="text-center">Group Stage</h3>

            </div>
        </section>

        <section class="ko-stage score-section">

            <div id="stage-8" class="col-xs-12 col-sm-3 knockout">
               <h3 class="text-center">Round of 16</h3> 
            </div>

            <div id="stage-4" class="col-xs-12 col-sm-3 knockout">
                <h3 class="text-center">Quater finals</h3>

            </div>

            <div id="stage-2" class="col-xs-12 col-sm-3 knockout">
                <h3 class="text-center">Semifinals</h3>
            </div>

            <div id="stage-1" class="col-xs-12 col-sm-3 knockout">
               <h3 class="text-center">Final!</h3>
            </div>        

            <div id="stage-3" class="col-xs-12 col-sm-3 knockout">
                <h3 class="text-center">3rd and 4th</h3>
            </div>

        </section>

    </form>

</div>


<!-- tempaltes -->


<script id="ko-game-placeholder-template" type="text/template">

    <div id="match-<%= matchId %>" class="panel panel-default">
        <div class="panel-heading">
            <h4><%= title %></h4>
            <h4>Match: <%= matchId %></h4>
        </div>
        <div class="panel-body">
            <div class="game"></div>
           
        </div>
    </div>

</script>          

<script id="allGroupsTemplate" type="text/template">

    <div class="col-sm-6">
        <div id="group-<%= group %>" class="panel panel-default text-center">
            <div class="panel-heading">
                <h4>Group <%= group %></h4>
            </div>

            <div class="panel-body">

                <div class="teams">
                </div>

                <hr>

                <div class="games">
                </div>

            </div>
        </div>
    </div>

</script>





<script id="allGamesTemplate" type="text/template">

        <% if (team1) { %>
            <input type="hidden" name="team_<%= matchId %>_code_1" value="<%= team1.code %>">
        <% } %>
        <% if (team2) { %>
            <input type="hidden" name="team_<%= matchId %>_code_2" value="<%= team2.code %>">
        <% } %>
        
        <input type="hidden" name="matchId_<%= matchId %>" value="<%= matchId %>">  

        <div class="panel-name name-right">
            <% if (team1) { %>
                <label class="team1-name"><%= team1.name %></label>
            <% } %>
        </div>

         <div class="panel-img">
            <% if (team1) { %>
                <img class="team1-flag" src="<%= team1.flag %>">
            <% } %>
        </div> 

        <div class="panel-input">
            <% if (canEdit) { %>
                <input type="text" name="g_1" class="point-input" value="<%= gol1 %>">
            <% } else { %>
                <label><%= gol1 %></label>
            <% } %>
        </div>

        <div class="panel-input">
            <% if (canEdit) { %>
                <input type="text" name="g_2" class="point-input" value="<%= gol2 %>">
            <% } else { %>
                <label><%= gol2 %></label>
            <% } %>
        </div>

        <div class="panel-img">
            <% if (team2) { %>
                <img class="team2-flag" src="<%= team2.flag %>">
            <% } %>
        </div> 

        <div class="panel-name name-left">
            <% if (team2) { %>
                <label class="team2-name"><%= team2.name %></label>
            <% } %>
        </div>
        
        <input class="played" type="checkbox" value="<%= played %>" <%= played ? 'checked' : '' %>>

</script>


<script id="koGameTemplate" type="text/template">

    <div class="ko-game">
        <div>
            <% if (team1) { %>        
                <label class="team"><%= team1.name %></label>
                <img src="<%= team1.flag %>">

                <% if (canEdit) { %>

                    <input type="text" name="g_1" value="<%= gol1 %>">
                    
                    <% if (gol1 === gol2) { %>        
                        <input type="text" name="p_1" value="<%= pen1 %>">
                    <% } %>

                <% } else { %>

                    <label class="score"><%= gol1 %></label>

                    <% if (gol1 === gol2) { %>        
                        <label class="score"><%= pen1 %></label>
                    <% } %>

                <% } %>

            <% } %>
        </div>
        <div>
            <% if (team2) { %>              
                <label class="team"><%= team2.name %></label>
                <img src="<%= team2.flag %>">

                <% if (canEdit) { %>

                    <input type="text" name="g_2" value="<%= gol2 %>">
                    <% if (gol1 === gol2) { %>        
                        <input type="text" name="p_2" value="<%= pen2 %>">
                    <% } %>

                <% } else { %>

                    <label class="score"><%= gol2 %></label>

                    <% if (gol1 === gol2) { %>        
                        <label class="score"><%= pen2 %></label>
                    <% } %>

                <% } %>

            <% } %>
        </div>
    </div>

</script>


<script id="teamTemplate" type="text/template">

    <td style="text-align: left; white-space:nowrap">
        <span class="flagicon">
            <img alt="" src="<%= team.flag %>" width="22" height="15" class="thumbborder">&nbsp;
        </span>
        <%= team.name %>
    </td>
    <td><%= w %></td>
    <td><%= d %></td>
    <td><%= l %></td>
    <td><%= gf %></td>
    <td><%= ga %></td>
    <td><%= gd %></td>
    <td><b><%= p %></b>
    </td>

</script>

<script id="allTeamsTemplate" type="text/template">
    
    <table class="table" style="">
        <thead>
            <tr>
                <th width="190">
                    <div style="text-align:center; position:relative; white-space:nowrap;">Team
                        <div class="plainlinks hlist navbar mini" style="position:absolute; right:0; top:0; margin:0 5px;">
                        </div>
                    </div>
                </th>
                <th width="28">
                    <abbr title="Won">W</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Drawn">D</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Lost">L</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Goals for">GF</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Goals against">GA</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Goal difference">GD</abbr>
                    <br>
                </th>
                <th width="28">
                    <abbr title="Points">Pts</abbr>
                    <br>
                </th>
            </tr>
        </thead>
    </table>

</script>

<script id="app-message-template" type="text/template">
    <div class="alert alert-<%=type %>" role="alert"><%= message %></div>
</script>



<script>
    $(function () {
        var games = {{{games}}};
        var canEdit = {{{canEdit}}};
        new App.Views.AppMatches({ collection: games, canEdit: canEdit, isMatchesView: true});

    });
</script>


<script src="/js/backbone/underscore-min.js"></script>
<script src="/js/backbone/backbone-min.js"></script>

<script src="/js/lapolla.js"></script>
<script src="/js/backbone/game-helper.js"></script>
<script src="/js/backbone/models.js"></script>
<script src="/js/backbone/collections.js"></script>
<script src="/js/backbone/views.js"></script>





